SECRET_KEY= # Секретный ключ Django
DEBUG = False
DB_ENGINE=django.db.backends.postgresql # Указать базу PostgreSQL
DB_NAME=postgres #Имя базы
POSTGRES_USER=postgres #Логин
POSTGRES_PASSWORD=postgres #Пароль
DB_HOST=db #Название контейнера
DB_PORT=5432 # Порт для работы с БД

